{% extends ('layout.html.twig') %}

{% block main %}
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis dolorum enim ex explicabo ipsam minima necessitatibus nesciunt nihil rem! Ad debitis minima neque obcaecati pariatur quasi, repellat saepe tempore.</span><span>Consequatur, deleniti dolores dolorum expedita fuga quod totam ut voluptas voluptatem voluptates? Ab accusantium, alias at beatae delectus dignissimos eligendi, fugit iusto maxime necessitatibus possimus qui ratione reiciendis tempore voluptatem!</span><span>Culpa cumque ducimus excepturi expedita officiis quae ratione, saepe voluptatibus. Beatae enim, error inventore nesciunt nisi odio pariatur perspiciatis quia reprehenderit temporibus! Harum possimus, sunt! Aperiam cumque expedita totam voluptates?</span><span>Ab ad, aliquam aliquid amet animi aperiam atque autem commodi consectetur culpa cumque dignissimos dolorum eaque excepturi expedita inventore magnam minus nisi nobis non quae quaerat, recusandae sequi soluta vel.</span><span>Accusantium aliquam, aliquid asperiores assumenda culpa eligendi expedita, facere fuga illum natus reiciendis rem. Commodi ea facere facilis illo laboriosam maiores maxime necessitatibus, non obcaecati praesentium quia quis quod sapiente!</span>
    </p>
{% endblock %}

{% block title %} About us {% endblock %}