footer {
    text-align: center;
    background-color: coral;
}

header {
    background-color: lightcoral;
    display: flex;
    justify-content: left;
    margin-bottom: 2px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 5%;
    height: auto;
}

.flash-error {
    background-color: indianred;
}

.flash-success {
    background-color: green;
}

.flash {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

body {
    background-color: lightblue;
    font-family: 'Coming Soon', cursive;
}

.pagination {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 1px;
    margin-right: 1px;
}